/* navbar */
.logo-style {
  width: 22px;
  margin-right: 12px;
}

.nav-style {
  height: 66px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: #96edff; */
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(150, 237, 255, 1) 100%);
}

.navbar-menustyle {
  margin-right: 30px;
  margin-top: 15px;
}

/* navbar */

.adduser {
  margin-left: auto;
  margin-right: auto;
  width: 451px;
  margin-top: 4%;
  border: solid;
  border-radius: 15px;
  border-style: groove;
  padding: 26px;
}

.adduser-heading {
  font-size: 22px;
  display: flex;
  justify-content: center;
  padding: 9px;
  color: black;
}

.search {
  margin-left: 35px;
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
}

.tot-users {
  background-color: lightslategrey;
  padding: 7px;
  border-radius: 8px;
  width: 130px;
  display: flex;
  justify-content: center;
}

/* usercard */
.usercard {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.cardContent {
  max-width: 60%;
}

.cardContent:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

/* usercard */

.MainTab {
  display: block;
  margin-left: 30px;
  padding-top: 25px;
}

.newuser {
  background-color: ghostwhite;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  height: 71px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* documents */
.documents {
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.doc-upload {
  background-color: deepskyblue;
  color: white;
  border: none;
  padding: 9px;
  border-radius: 8px;
}

.upload-btns {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

.download-button {
  font-size: 25px;

}

.download-button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 5px;
}

/* documents */

.usernav {
  display: flex;
  margin-bottom: 11px;
  margin-left: 5px;
  border: solid;
  max-width: 153px;
  padding: 5px;
  border-radius: 5px;
  border-width: thin;
  height: 31px;
  width: auto;
  padding-left: 12px;
}

.usernav-img {
  border-radius: 50%;
  margin-right: 14px;
}